@page "/"


@using EStore.Application.Dtos
@using EStore.Application.Events
@using EStore.Contracts.Responses


<PageTitle>Hoarse music</PageTitle>

<MudGrid>
	<MudItem xs="12">
		<div style="height:50vh" class="d-flex justify-center my-5">
			<MudImage Fluid="true" Src="Media/Images/store.jpg" Class="rounded-lg" FallbackSrc="Media/Images/no-image.png"></MudImage>
		</div>
	</MudItem>
	<MudItem xs="12">
		<div style="width:100vw" class="d-flex justify-center">
			<MudText Class="mx-5" Typo="Typo.h6">Welcome to hoarse music! The go-to for all music needs!</MudText>
		</div>
	</MudItem>
	<MudItem xs="12">
		<div style="width:100vw" class="d-flex justify-center my-3">
			<MudText Typo="Typo.body1">Feel free to browse the shop section.</MudText>
		</div>
	</MudItem>
</MudGrid>

@code
{
   
}