@page "/store"
@using EStore.Application.ApplicationModels
@using EStore.Contracts.Requests
@using EStore.Contracts.Responses
@using EStore.Application.Mapping

@inject IHttpClientFactory Factory;
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage;
<div Class="ms-2 mt-1 d-flex justify-center align-center">
    <MudTextField Immediate="true"
                  Text="@_searchString" TextChanged="SearchAsync" Placeholder="Search for product name or number" Class="pa-1" T="string"></MudTextField>
</div>
<div style="height:80vh" class="overflow-y-scroll overflow-x-hidden">
    <MudGrid>
        @foreach (var product in _shownProducts)
        {
            <MudItem Class="max-height:300px" xs="12" sm="6" md="4" lg="3" xl="2">
                <ProductComponent Product="product"></ProductComponent>
            </MudItem>
        }
    </MudGrid>
</div>




@code {
    private string _searchString = string.Empty;

    private HttpClient _httpClient;

    private List<StoreProduct> _shownProducts = [];

    private List<StoreProduct> _allProducts = [];

    private List<StoreProduct> _productsInCart = [];

    protected override async Task OnInitializedAsync()
    {
        _httpClient = Factory.CreateClient("backend");

        var productsResponse = await _httpClient.GetFromJsonAsync<ProductsResponse>("api/products");


        if (productsResponse is not null)
        {
            _allProducts = productsResponse.MapToStoreProducts().ToList();
            _shownProducts = _allProducts.Where(p => p.IsInAssortment).ToList();
        }

        var localStorageCart = await LocalStorage.GetItemAsync<List<StoreProduct>>("Cart");

        await base.OnInitializedAsync();
    }

    public void SearchAsync(string? value)
    {
        if (String.IsNullOrWhiteSpace(value))
        {
            _searchString = string.Empty;
            _shownProducts = _allProducts;
            return;
        }
        _searchString = value;

        bool isProductNumber = Int32.TryParse(_searchString, out int productNumber);

        if (isProductNumber)
        {
            _shownProducts = _allProducts.Where(p => p.ProductNumber == productNumber && p.IsInAssortment).ToList();
            return;
        }
        _shownProducts = _allProducts.Where(p => p.ProductName.Contains(_searchString, StringComparison.OrdinalIgnoreCase) && p.IsInAssortment).ToList();
    }
}
