.vs/
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/E-Store/CopilotIndices/17.12.68.61481/CodeChunks.db
.vs/E-Store/CopilotIndices/17.12.68.61481/SemanticSymbols.db-shm
.vs/E-Store/FileContentIndex/41b10209-8f8b-4d28-a1a9-9a436ce048a4.vsidx
.vs/E-Store/FileContentIndex/924c8428-1eb0-4fe0-b845-2739b2fd0cd1.vsidx
.vs/E-Store/v17/.suo
.vs/E-Store/v17/DocumentLayout.backup.json
.vs/E-Store/v17/DocumentLayout.json
