@using EStore.Application.ApplicationModels
@using EStore.Application.Events
@using EStore.Contracts.Requests
@using EStore.Contracts.Responses
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage;

<MudPaper Height="300px" Width="100%">
	<div class="ma-2">
		<MudGrid Spacing="1">
			<MudItem xs="12">
				<div class="d-flex justify-center">
					<h3>@Product.ProductName</h3>
				</div>
			</MudItem>
			<MudItem xs="12">
				<div class="d-flex justify-center">
					<MudImage Class="rounded-lg" Height="200" Width="200" Src="https://images.unsplash.com/photo-1706356104839-5d3a4e8eb35f?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></MudImage>
				</div>
			</MudItem>
			<MudItem xs="6">
				<div class="d-flex justify-center">
					<h3>@Product.Price :-</h3>
				</div>
			</MudItem>
			<MudItem xs="6">
				<div class="d-flex justify-center">
					<MudButton Variant="Variant.Filled" OnClick="AddToCart">Add to cart</MudButton>
				</div>
			</MudItem>
		</MudGrid>
	</div>
</MudPaper>

@code {
	[Parameter]
	public StoreProduct Product { get; set; }

	public async Task AddToCart(){
		var localStorageCart = await LocalStorage.GetItemAsync<List<StoreProduct>>("Cart");

		if (localStorageCart.Any(p => p.ProductNumber == Product.ProductNumber))
		{
			return;
		}

		localStorageCart.Add(Product);

		await LocalStorage.SetItemAsync<List<StoreProduct>>("Cart", localStorageCart);

		await CartPublisher.OnCartStateChanged();
	}
}
